.prod-in-cart{
    align-items: center;
}

.prod-in-cart{
    width: 50%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;

}

.prod-img{
    width: 100%;
    height: 100%;
    max-width: 300px;
    
    flex-wrap: wrap;
    

}
